<h1>Books#show</h1>

<% flash.each do |message_type, message| %>
  <div class="h4"><%= message %></div>
<% end %>

<div class="container">
  <div class="row">

    <%= render "list", user: @user, book: @book %>

      <div class="col-8 offset-1">
        <h2>Books detail</h2>

        <table class="table">
          <tbody>
		        <tr>
			        <td><%= image_tag @user.get_profile_image(100,100) %><br><%= link_to @user.name, user_path(@user.id) %></td>
			        <td><%= link_to @book_find.title, book_path(@book_find.id) %></td>
			        <td><%= @book_find.body %></td>
			      <% if @book_find.user == current_user %>
			        <td><%= link_to "Edit", edit_book_path(@book_find.id), class: "btn btn-success" %></td>
			        <td><%= link_to "Destroy", book_path, method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
            <% end %>
		        </tr>
	        </tbody>
        </table>
      </div>
  </div>
</div>
